.topcontainer{
    height: 100vh;
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
@media only screen and (max-width: 900px ){
    .topcontainer{
        background-color:rgb(253, 245, 245);
        height: 100vh;
        /* background-position:center; */
        /* background-size:contain; */
        position:sticky;
        /* background-repeat: no-repeat; */
        overflow-x:hidden;
    }
    
}